body{
    background-color: lightgrey;
    margin: 0px;
}

.div-header{
    background-color: white;
    width: 100%;
    border: 1px solid white;
    margin: 0px;
    
}

.titolo{
    display: inline-block;
    vertical-align: middle;
}

.logo-img{
    vertical-align: middle;
}

main{
    margin-top: 50px;
    margin-left: 120px;
    margin-right: 120px;
}

#div-top{
    background-color: white;
    padding: 15px;
    border-bottom: 1px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    vertical-align: top;
    border-bottom: 0px;
}

#add-task{
    color: white;
    background-color: dodgerblue;
    font-size: 14px;
    border-radius: 5px;
    padding: 7px;
    text-align: center;
    border: 1px solid dodgerblue;
    margin-left: 50px;

}

#add-section{
    display: inline-block;
    color: silver;
    background-color: white;
    font-size: 14px;
    border-radius: 5px;
    padding: 7px;
    text-align: center;
    border: 1px solid silver;
    margin-left: 5px;
}

#div-content{
    vertical-align: top;
    background-color: white;
    font-size: 18px;
}

.lista{
    display: block;
    margin-top: 1px;
}

.title{
    font-size: 20px;
    font-weight: 400;
}

.circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 11px;
        border: 2px solid rgb(99, 185, 99);
        text-align: center;
        display: inline;
        color: rgb(99, 185, 99);
        vertical-align: middle;
        line-height: 30px;
}
 ul{
    list-style-type: none;
    padding-top: 30px;
 }

 .editorial{
    background-color: dodgerblue;
    display: inline;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    color: white;
 }